body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
body {
  background-color: #535A5E;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}
.btn {
  float: left;
}
.submit {
  margin-top: 5%;
  width: 80%;
  color: black !important;
  background-color: #F5F5F5 !important;
  margin-left: 10%;
  margin-right: 10%;
}
.submit:hover {
  background-color: #E7E7E7 !important;
}
#sysbar {
  -webkit-app-region: drag;
  background-color: white;
  border-bottom: 1px solid #E7E7E7;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1000;
  background-image: url("../img/crossword.png");
  background-repeat: repeat;
  background-size: auto;
}
#sysbar .menu-container {
  position: absolute;
  left: 10px;
  top: 0px;
  -webkit-app-region: no-drag;
}
#sysbar .menu-container .item {
  display: inline-block;
  vertical-align: top;
  min-width: 30px;
  height: 35px;
  font-size: 13px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: grey;
  margin-left: 10px;
  position: relative;
}
#sysbar .menu-container .item .sub-menu {
  position: absolute;
  min-width: 50px;
  min-height: 30px;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  display: none;
}
#sysbar .menu-container .item .sub-menu .sub-item {
  color: gray;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
#sysbar .menu-container .item .sub-menu .sub-item span {
  font-size: 10px;
}
#sysbar .menu-container .item .sub-menu .sub-item:hover {
  color: gray;
}
#sysbar .menu-container .item:hover {
  color: black;
}
#sysbar .menu-container .item:hover .sub-menu {
  display: block;
}
#sysbar .title {
  font-size: 16px;
}
#sysbar .action-container {
  position: absolute;
  right: 10px;
  top: 9px;
  -webkit-app-region: no-drag;
}
#sysbar .action-container .bubble-bt {
  height: 17px;
  width: 17px;
  line-height: 5px;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}
#sysbar .action-container .bubble-red {
  color: #FF605C;
}
#sysbar .action-container .bubble-red:hover {
  color: #dc4642;
}
#sysbar .action-container .bubble-green {
  color: #0ECA37;
}
#sysbar .action-container .bubble-green:hover {
  color: #0fa12e;
}
#sysbar .action-container .bubble-orange {
  color: #FEBD00;
}
#sysbar .action-container .bubble-orange:hover {
  color: #d09d07;
}
#sidebar {
  position: relative;
  vertical-align: top;
  background-color: white;
  z-index: 1;
  width: 200px;
  height: 100%;
  border-right: 1px solid #E7E7E7;
  border-radius: 4px;
  padding-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  float: left;
}
#sidebar .header-input {
  white-space: nowrap;
  color: black;
  background-color: #FFFFFF;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  width: 80%;
  padding: 2px;
  height: 30px;
  float: left;
}
#sidebar .header-input i {
  margin-right: 2px;
  font-size: 13px;
}
#sidebar .normal-item {
  white-space: nowrap;
  color: gray;
  font-size: 15px;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#sidebar .normal-item:hover {
  color: white;
}
#sidebar .normal-item i {
  margin-right: 2px;
  font-size: 12px;
}
#main-content {
  position: absolute;
  vertical-align: top;
  background-color: #E7E7E7;
  width: auto;
  height: auto;
  top: 35px;
  bottom: 0px;
  left: 200px;
  right: 0px;
}
.modal {
  text-align: center;
}
.maincontent {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.maincontent .baronglet {
  height: 35px;
  width: 100%;
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.maincontent .baronglet .onglet {
  height: 100%;
  width: 50%;
  float: left;
  display: table;
  border-right: 1px solid white;
  cursor: pointer;
}
.maincontent .baronglet .active {
  background-color: white;
  border-bottom: none;
  border-top: 3px solid #908F8F;
}
.maincontent .disable {
  display: none;
}
.maincontent .mainonglet {
  height: 95%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.maincontent .mainonglet .consolemain {
  height: 100%;
  border-bottom: none;
  border: 1px solid white;
}
.maincontent .mainonglet .consoleinput {
  height: 4%;
  width: 98%;
  background-color: white;
  margin-right: 1%;
  margin-left: 1%;
}
.maincontent .mainonglet .consolediv {
  bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
}

.ptable {
  margin: 0;
  padding: 0;
  border: none;
}
.ptable .torrent-item {
  cursor: pointer;
}
.ptable tr {
  width: 100%;
}
.ptable tr th {
  background-color: #2E3233;
  padding: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
}
.ptable tr th i {
  margin-right: 5px;
}
.ptable tr td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1px solid #393E3F;
  position: relative;
}
.ptable tr .progress-bar {
  width: 50%;
  height: 100%;
  background-color: #4A7B4A;
  position: relative;
}
.ptable tr .centered-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: white;
  text-align: center;
  z-index: 1;
  font-size: 11px;
}
.ptable tr:nth-child(odd) {
  background-color: #393E3F;
}
