<div class="col-lg-12 maincontent">
  <div class="col-lg-12 baronglet">
    <div id="explorerbutton" class="onglet active"><div style="display: table-cell; vertical-align: middle;">EXPLORATEUR</div></div>
    <div id="consolebutton" class="onglet"><div style="display: table-cell; vertical-align: middle;">CONSOLE</div></div>
  </div>
  <div id="explorermain" class="col-lg-12 mainonglet explorer active">
    <div class="col-lg-12 consolemain">
      EXPLORER
      <div class="col-lg-12 consolediv">
        <input class="col-lg-12 consoleinput"></input>
      </div>
    </div>
  </div>
  <div id="consolemain" class="col-lg-12 mainonglet console disable">
    <div class="col-lg-12 consolemain">
      CONSOLE
      <div class="col-lg-12 consolediv">
        <input class="col-lg-12 consoleinput"></input>
      </div>
    </div>
  </div>
</div>
