<div class="maincontent">
  <div class="baronglet">
    <div id="explorerbutton" class="onglet active"><div style="display: table-cell; vertical-align: middle;">EXPLORATEUR</div></div>
    <div id="consolebutton" class="onglet"><div style="display: table-cell; vertical-align: middle;">CONSOLE</div></div>
  </div>
  <div id="explorermain" class="mainonglet explorer active">
    <div class="consolemain">
      EXPLORER
      <div class="consolediv">
        <input class="consoleinput"></input>
      </div>
    </div>
  </div>
  <div id="consolemain" class="mainonglet console disable">
    <div class="consolemain">
      CONSOLE
      <div class="consolediv">
        <input class="consoleinput"></input>
      </div>
    </div>
  </div>
</div>
